/* ==================== parte comun ==================== */
/*html, body{height: 100%;}*/
body{margin: 0; padding: 0; background-color: #e9eaed;}
#wrap{width: 100%; height: 100%; margin: 0; padding: 0; background: url("../img/bg-image.png"); background-repeat: repeat-x;}
input{padding: 5px 4px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
input[type=submit]{padding: 5px 4px; color: #fff; font-size: 12px;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background: url(../img/blue.gif);}
#header{width: 80%; min-height: 107px; margin: 0 auto;}
#header img{padding-top: 22px;}
#contenedor{width: 80%; margin: 0 auto;}

/* ======================== fin ============================ */

/* ======================== Index ========================== */
#contenedor div{display: inline-block; vertical-align: top;}
#contenedor #home-left{width: 65%; margin-top: 50px; margin-bottom: 50px;}
#contenedor #home-right{width: 34%; margin-top: 50px; text-align: right;}
#home-left #imagen{width: 100%;}

#home-right form{width: 80%; position: relative; left: 100%; margin-left: -90%;}
#home-right fieldset{padding: 30px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
/*#home-right input{padding: 5px 4px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;}*/
#home-right #boton-login{background: #069; color: #fff; text-align: center; font-weight: bold;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; cursor: pointer;}
#home-right span{text-decoration: none; color: #000;}
#home-right .enlace:hover{text-decoration: underline; color: #069; cursor: pointer;}
#home-right #no_logeo {text-decoration: none; color: red;}
#home-right #mail_incorrecto {text-decoration: none; color: red;}
/* ======================= fin =========================== */

/* ===================== Registro ======================== */
#home-right #form-registro input{width: 188px;}
#home-right #form-registro select{padding: 4px;}
#home-right #form-registro #registrarse{font-size: 17px;}
#home-right #form-registro label{font-size: 18px;}
/* ===================== Perfil ===================== */
#contenedor #perfil{width: 100%; margin-bottom: 31px; background-color: #fff; border: 1px solid #d3d6db;}
#perfil #titulo{width: 100%; text-align: left; margin-bottom: 15px; background:url(../img/pattern.png); border-bottom: 1px solid #d3d6db;}
#perfil div{display: inline-block;}

#perfil #perfil-left{width: 49%; margin-bottom: 15px; /*border: 1px solid red;*/}
#perfil #perfil-right{width: 49%; min-height: 244px; margin-bottom: 15px; padding-left: 10px; border-left: 1px solid #d3d6db;}
#perfil-left #img-perfil{width: 50%; position: relative; left: 100%; margin-left: -75%; text-align: center;}
#perfil-left #img-perfil img{width: 100%; border: 1px solid #d3d6db;}
#perfil-right #perfil-edit{position: relative; left: 100%; margin-left:-38px; top: 0;}
#perfil-right #perfil-edit img:hover{box-shadow: 2px 2px 5px #999;}
#perfil-right table{min-height: 244px; text-align: left; width: 100%; font-size: 16px;}
#perfil-right table th{width: 20%; padding-top: 4px; padding-bottom: 4px;}
#perfil-right table input{width: 180px;}

#perfil-galeria{width: 100%; margin-bottom: 31px; text-align: center; background-color: #fff; border: 1px solid #d3d6db;}
#perfil-galeria img{width: 22%; min-width: 206px; border: 1px solid #d3d6db;}
#perfil-galeria #titulo{width: 100%; text-align: left; margin-bottom: 15px; background:url(../img/pattern.png); border-bottom: 1px solid #d3d6db;}
#titulo{height: 81px;}
#titulo h1{padding-left: 10px;}
#titulo #perfil-subir-foto{position: relative; left: 100%; margin-left: -102px; top: -53px;}
#titulo #perfil-subir-foto input{padding: 5px 10px; background-color: #069; color: #fff; font-size: 15px;}
#perfil-galeria #fotos{width: 100%; margin-bottom: 15px;}

#contenedor #perfil-lugares{width: 100%; margin-bottom: 31px; background-color: #fff; border: 1px solid #d3d6db; text-align: center;}
#perfil-lugares #titulo{width: 100%; text-align: left; margin-bottom: 15px; background:url(../img/pattern.png); border-bottom: 1px solid #d3d6db;}
#perfil-lugares #map-div{width: 80%; height: 500px; margin-bottom: 15px;}

/* =================================================== */
/* ================= cuadro de fondo ================ */
#bg-cuadro{display: none; width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9999;
background-color: grey; background: rgba(54, 54, 54, 0.3);}
/* ================= cuadro ubicacion ================= */
#mapa-ubicacion{width: 620px; position: fixed; left: 50%; margin-left: -350px; top: 20%; background: #fff;
border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#mapa-ubicacion iframe{width: 620px; min-height: 415px; border: 0; text-align: center;}
.cerrar-cuadro{position: relative; width: 100%; height: 30px; background: url(../img/pattern.png); text-align: right;}
.cerrar-cuadro img{padding: 7px;}
/* ================= cuadro subir foto ================ */
#cuadro-foto{width: 500px; position: fixed; left: 50%; margin-left: -250px; top: 28%; min-height: 300px;
border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color: #fff;}
#cuadro-foto #centra-input{width: 100%; text-align: center; padding: 10px;}
#centra-input #subir-pic{width: 161px; font-size: 15px;}
.imagen-dialogo {width: 80%; height:80%;}
.ui-autocomplete{z-index: 99999!important;}

/* ================ Pais ================ */
#contenedor #cabecera{width: 100%; height: 250px; padding: 0; margin: 0;
	background: url(../img/home_img1.jpg); background-size: 100% 250px;}
/*#cabecera img{width: 100%; height: 250px; padding: 0; margin: 0;}*/
#cabecera #subcabecera-lugar{width: 100%; position: relative; top: 72px; color: #fff; background-color: grey; background: rgba(54, 54, 54, 0.6);}
#subcabecera-lugar #titulo-lugar{margin-left: 10px;}
#titulo-lugar h1{text-shadow: 5px 3px 2px #000; margin: 0;}
#subcabecera-lugar #puntuacion{position: relative; float: right; top: 10px; margin-right: 10px;}
#cabecera #valoracion-lugar{position: relative; float: right; font-size: 198px; line-height: 140px; top: 35px; color: #fff; text-shadow: 5px 3px 2px #000;}
#contenedor #menu-pais{width: 100%; height: 50px; background-color: #f6f7f8; border-bottom: 1px solid #d3d6db;}
#menu-pais ul{padding: 0; margin: 13px 0;}
#menu-pais ul li{display: inline-block; text-decoration: none; padding: 0; margin: 0;}
#menu-pais ul li a{text-decoration: none; font-size: 22px; padding: 0 20px; color: #000;}
#menu-pais ul li a:hover{text-decoration: underline; color: #069;}
#contenedor #caja-contenido{width: 100%; min-height: 300px; background-color: #fff; text-align: center;}
#caja-contenido #contenido{position: relative; overflow: hidden; width: 90%; min-height: 300px; text-align: left; margin: 15px 0; background-color: #fff !important;}
#caja-contenido #info{width: 100%; text-align: justify;}
#info #edit-info-lugar{width: 100%; text-align: right;}
#edit-info-lugar img{cursor: pointer;}
#edit-info-lugar img:hover{box-shadow: -2px 2px 5px #999;}
/* ============== fotos(pais, ciudad) ==================== */
#caja-contenido #foto{width: 100%; text-align: center;}
#caja-contenido #foto #boton-foto{width: 100%; text-align: right;}
#caja-contenido #foto img{border: 1px solid #d3d6db;}
/* ======================================================= */
#caja-contenido #mapa{width: 100%; min-height: 300px;}
#caja-contenido #ciudades-pais{width: 100%;}
#ciudades-pais #tabla{width: 100%;}
#tabla a{color: inherit; text-decoration: none;}
#tabla a:hover{color: #069; text-decoration: underline;}
#contenido #comentarios-pais{width: 100%; text-align: center;}
#comentarios-pais .coments{width: 80%; text-align: justify; border-bottom: 1px solid #d3d6db; margin-bottom: 5px;}
.coments .coment-up{width: 100%;}
.coments .coment-down{width: 100%; text-align: right;}
.coment-down button{background: none; border: none;}
#cuadro{width: 100%; text-align: center;}

/*==================== Menu =========================== */

#menu{width: 100%; position: fixed; background: url(../img/bg-image.png); z-index: 9999;}
#menu #barra-menu{width: 80%; margin: 0 auto; color: #fff;}
#barra-menu ul{margin: 0; padding: 0; float: right;}
#barra-menu ul li{display: inline-block; margin-top: 12px;}
#barra-menu ul li a{color: #fff; text-decoration: none; padding-left: 20px; font-weight: bold;}
#barra-menu ul li a:hover{color: #069; text-decoration: underline; }
#barra-menu #buscar{background-color: #fff; background-image: url(../img/243.png); background-repeat: no-repeat; background-position: 2px; padding-left: 20px; 
	padding-top: 4px; padding-bottom: 4px; width: 220px;}
#hide-show-menu{position:fixed; background: url(../img/bg-image.png); border: none; color: #fff; padding: 4px;}
#hide-show-menu img{margin-top: 3px;}

#barra-menu ul li #destroySession{border: none; background: none; margin: 0; padding: 0; padding-left: 20px; font-weight: bold; font-size: 13px;}
#barra-menu ul li #destroySession:hover{color: #069; text-decoration: underline; }
/* =================== lista Paises ========================= */
#contenedor #contenedor-paises{width: 100%; margin: 0 auto; text-align: center; background-color: #fff;}
#contenedor-paises #titulo{width: 100%; text-align: left; margin-bottom: 15px; background:url(../img/pattern.png); border-bottom: 1px solid #d3d6db;}
#contenedor-paises .list-paises{width: 90%; text-align: left; margin: 15px 0;}
.list-paises ul li{display: inline-block; margin-left: 10px;}
.list-paises ul li a{text-decoration: none; color: #000; font-weight: bold;}
.list-paises ul li a:hover{color: #069; text-decoration: underline;}

#footer{width: 80%; margin: 0 auto; text-align: center; border-top: 1px solid #d3d6db; padding: 10px 0;}






.nohasEstado:hover{
      cursor:pointer;
      text-shadow: 5px 3px 2px #fff;
      color: #000;
}