html, body{height: 100%;}
body{margin: 0; padding: 0; background-color: #e9eaed;}
#wrap{width: 100%; height: 100%; margin: 0; padding: 0; background: url("../img/bg-image.png"); background-repeat: repeat-x;}
#header{width: 80%; min-height: 150px; margin: 0 auto; /*border: 1px solid red;*/}
#header img{padding: 10px;}
#contenedor{width: 80%; margin: 0 auto; /*border: 1px solid red;*/}
#contenedor div{display: inline-block; vertical-align: top;}
#contenedor #home-left{width: 65%; margin-top: 50px; margin-bottom: 50px; /*border: 1px solid red;*/}
#contenedor #home-right{width: 34%; margin-top: 50px; text-align: right; /*border: 1px solid red;*/}
#home-left #imagen{width: 100%;}

#home-right form{width: 80%; position: relative; left: 100%; margin-left: -90%;}
#home-right fieldset{padding: 30px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#home-right input{padding: 5px 4px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;}
#home-right #boton-login{background: #069; color: #fff; font-weight: bold; padding: 4px 15px 4px 15px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; cursor: pointer;}

	
	
#home-right #no_logeo {text-decoration: none; color: red;}
#home-right #mail_incorrecto {text-decoration: none; color: red;}
#home-right span{text-decoration: none; color: #000;}
#home-right #recuperarPass:hover{text-decoration: underline; color: #069; cursor: pointer;}
#home-right #login:hover{text-decoration: underline; color: #069; cursor: pointer;}
#home-right #registro:hover{text-decoration: underline; color: #069; cursor: pointer;}


/* === Registro === */
#home-right #form-registro input{width: 188px; padding: 8px 10px;}
#home-right #form-registro select{padding: 4px;}
#home-right #form-registro #registrarse{background-color: #069; color: #fff; font-size: 19px; cursor:pointer;}
#home-right #form-registro label{font-size: 18px;}
/* === Perfil === */
#contenedor #perfil{width: 100%; margin-bottom: 31px; background-color: #fff; border: 1px solid #d3d6db;}
#perfil #titulo{width: 100%; text-align: left; margin-bottom: 15px; background-color: #f6f7f8; border-bottom: 1px solid #d3d6db;}
#perfil div{display: inline-block;}

#perfil #perfil-left{width: 49%; margin-bottom: 15px; /*border: 1px solid red;*/}
#perfil #perfil-right{width: 49%; min-height: 244px; margin-bottom: 15px; padding-left: 10px; border-left: 1px solid #d3d6db;}
#perfil-left #img-perfil{width: 50%; position: relative; left: 100%; margin-left: -75%; text-align: center;}
#perfil-left #img-perfil img{width: 100%; border: 1px solid #d3d6db;}
#perfil-right #perfil-edit{position: relative; left: 100%; margin-left:-38px; top: 0;}
#perfil-right table{min-height: 244px; text-align: left; width: 100%; font-size: 16px;}
#perfil-right table th{width: 20%; padding-top: 4px; padding-bottom: 4px;}
#perfil-right table input{width: 180px;}

#perfil-galeria{width: 100%; margin-bottom: 31px; text-align: center; background-color: #fff; border: 1px solid #d3d6db;}
#perfil-galeria img{width: 22%; min-width: 206px; border: 1px solid #d3d6db;}
#perfil-galeria #titulo{width: 100%; text-align: left; margin-bottom: 15px; background-color: #f6f7f8; border-bottom: 1px solid #d3d6db;}
#titulo{height: 81px;}
#titulo h1{padding-left: 10px;}
#titulo #perfil-subir-foto{position: relative; left: 100%; margin-left: -102px; top: -53px;}
#titulo #perfil-subir-foto input{padding: 5px 10px; background-color: #069; color: #fff; font-size: 15px;}
#perfil-galeria #fotos{width: 100%; margin-bottom: 15px;}


/* ===== cuadro subir foto ===== */
#bg-cuadro{display: none; width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9999;
background-color: grey; background: rgba(54, 54, 54, 0.3);}
#cuadro-foto{width: 500px; position: fixed; left: 50%; margin-left: -250px; top: 28%; color: #fff;
min-height: 300px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
background-color: grey; background: rgba(54, 54, 54, 0.8);}
#cuadro-foto #cerrar-cuadro{position: relative; left: 100%; margin-left: -20px; top: 4px;}
#cuadro-foto #centra-input{width: 100%; text-align: center; padding: 10px;}
.imagen-dialogo {width: 80%; height:80%;}

/* ================ Pais ================ */
#contenedor #cabecera{width: 100%; height: 250px; padding: 0; margin: 0;}
#cabecera img{width: 100%; height: 100%; padding: 0; margin: 0;}
#contenedor #menu-pais{width: 100%; height: 50px; background-color: #f6f7f8; border-bottom: 1px solid #d3d6db;}
#menu-pais ul{padding: 0; margin: 13px 0;}
#menu-pais ul li{display: inline-block; text-decoration: none; padding: 0; margin: 0;}
#menu-pais ul li a{text-decoration: none; font-size: 22px; padding: 0 20px; color: #000;}
#menu-pais ul li a:hover{text-decoration: underline; color: #069;}
#contenedor #caja-pais{width: 100%; min-height: 300px; background-color: #fff; text-align: center;}
#caja-pais #contenido-pais{width: 90%; min-height: 300px; text-align: left; margin: 15px 0; background-color: #fff !important;}
#caja-pais #info-pais{width: 100%; text-align: justify;}
#caja-pais #fotos-pais{width: 100%; text-align: center;}
#caja-pais #fotos-pais img{border: 1px solid #d3d6db;}
#caja-pais #mapa-pais{width: 100%; min-height: 300px;}


#footer{width: 80%; margin: 0 auto; text-align: center; border-top: 1px solid #d3d6db; padding: 10px 0;}